@keyframes slideleft{
  0%{
      transform: translateX(-50px);
      opacity: 0;
  }
  100%{
     transform: translateX(0px);
  }
}

@keyframes slideright{
  0%{
      transform: translateX(50px);
      opacity: 0;
  }
  100%{
     transform: translateX(0px);
  }
}


.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0 23%;
}

.activeb{
  transform: translateX(0px)!important;
}
.active {
  &::after {
    content: "";
    background: black;
    display: block;
    border-radius: 5px;
    height: 1px;
    width: 100%;
    margin: 2px auto;
    transition: 0.4s;
  }
}

.slide-left{
 animation: slideleft 1s;
}

.slide-right{
  animation: slideright 1s;
 }